<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h3>Welcome, {{user.firstName}} {{user.lastName}} to The Market Place</h3>
        <nav>
            <a href='/logout/'>Log Out</a>
            <a href='/dashboard/'>Dashboard</a>
        </nav>
    </header>
    <div class='main'>
        <nav>
            <button class='all'>Show all Products</button>
        </nav>
        <div class='allProducts'>
            <div class='products'>
                {% for product in allProducts %}
                <div class='product'>
                    <div class='left'>
                        <img src='{{product.itemImg}}' alt='{{product.itemName}}'/>
                        <p><b>${{product.itemPrice}}</b></p>
                    </div>
                    <div class='right'>
                        <h4>{{product.itemName}}</h4>
                        <p>{{product.itemCat}}</p>
                        <p>{{product.itemDescription}}</p>
                    </div>                
                </div>
                {% endfor %}
                <div class='product'>
                    <p>Test product</p>
                </div>
            </div>
        </div>
        <div class='filteredProducts'>
            {% for product in allProducts %}
            <div class='product'>
                <div class='left'>
                    <img src='{{product.itemImg}}' alt='{{product.itemName}}'/>
                    <p><b>${{product.itemPrice}}</b></p>
                </div>
                <div class='right'>
                    <h4>{{product.itemName}}</h4>
                    <p>{{product.itemCat}}</p>
                    <p>{{product.itemDescription}}</p>
                </div>                
            </div>
            {% endfor %}
            <div class='product'>
                <p>Test product</p>
            </div>
        </div>
    </div>
    <footer>
        {% for foot in footer %}
        <p>{{foot}}</p>
        {% endfor %}
        <a href='/admin/'><img src="{% static 'images/Capture.PNG' %}" /></a>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>