<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href='/logout/'>Log Out</a>
        </nav>
    </header>
    <div class='main'>
        <h3>Welcome, {{user.firstName}}</h3>
        <h3>All products</h3>
        <div class='products'>
            {% for product in allProducts %}
            <div class='product'>
                <div class='left'>
                    <img src='{{product.itemImg}}' alt='{{product.itemName}}'/>
                    <p><b>${{product.itemPrice}}</b></p>
                </div>
                <div class='right'>
                    <h4>{{product.itemName}}</h4>
                    <p>{{product.itemDescription}}</p>
                </div>                
            </div>
            {% endfor %}
        </div>
    </div>
    <footer>
        {% for foot in footer %}
        <p>{{foot}}</p>
        {% endfor %}
        <a href='admin/'><img src="{% static 'images/Capture.PNG' %}" /></a>
    </footer>
</body>
</html>