<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Owner Register</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to The Market Place</h1>
        <p>Please register to add your own products</p>
        <p>Already have an account? <a href='/'>Sign In</a></p>
        <form action='/shop-register/' method='post'>
            {% csrf_token %}
            <section class='row'>
                <label for='ownerFirstName'>First Name:</label>
                <input type='text' name='ownerFirstName' id='ownerFirstName'>
            </section>
            <section class='row'>
                <label for='ownerLastName'>Last Name:</label>
                <input type='text' name='ownerLastName' id='ownerLastName'>
            </section>
            <section class='row'>
                <label for='ownerUsername'>Username:</label>
                <input type='text' name='ownerUsername' id='ownerUsername'>
            </section>
            <section class='row'>
                <label form='ownerEmail'>Email Address:</label>
                <input type='email' name='ownerEmail' id='ownerEmail'>
            </section>
            <section class='row'>
                <label for='shopName'>Shop Name:</label>
                <input type='text' name='shopName' id='shopName'>
            </section>
            <section class='row'>
                <label for='ownerPassword'>Password:</label>
                <input type='password' name='ownerPassword' id='ownerPassword'>
            </section>
            <section class='row'>
                <label for='confirm'>Confirm Password</label>
                <input type='password' name='confirm' id='confirm'>
            </section>
            <button>Submit and Login</button>
        </form>
    </header>
    <footer>
        {% for foot in footer %}
        <p>{{foot}}</p>
        {% endfor %}
        <a href='admin/'><img src="{% static 'images/Capture.PNG' %}" /></a>
    </footer>
</body>
</html>