<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ownerUser.shopName}} Dashboard</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h3>Welcome, {{ownerUser.ownerFirstName}}</h3>
        <nav>
            <a href='/logout/'>Log Out</a>
            <a href='/dashboard/'>View User Dashboard</a>
            <a href='/shop-dashboard/'>Dashboard</a>
            <a href='/categories/'>View/Add Product Categories</a>
            <a href='/ownerItems/'>Your Products</a>
            <a href='product-maint'>Add/Edit Products</a>
        </nav>
    </header>
    <div class='main'>
        <nav class='ownerNav'>
            
            <a href='#'>Add Products</a>
        </nav>
        <h3>{{ownerUser.shopName}} products</h3>
        <div class='products'>
            {% for product in allProducts %}
            <div class='product'>
                <div class='left'>
                    <img src='{{product.itemImg}}' alt='{{product.itemName}}'/>
                    <p><b>${{product.itemPrice}}</b></p>
                </div>
                <div class='right'>
                    <h4>{{product.itemName}}</h4>
                    <p>{{product.itemDescription}}</p>
                </div>                
            </div>
            {% endfor %}
        </div>
    </div>
    <footer>
        {% for foot in footer %}
        <p>{{foot}}</p>
        {% endfor %}
        <a href='/admin/'><img src="{% static 'images/Capture.PNG' %}" /></a>
    </footer>
</body>
</html>