<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Market Place - Owners</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to the Market Place</h1>
        <p>Please login to view your shop and manage your products</p>
        <p>Not a shop owner? <a href='/'>Member Login</a></p>
        <p>Want to be a shop owner? <a href='/shop/register'>Sign up</a></p>
        {% if messages %}
        <section class='messages'>
            {% for message in messages %}
            <h3 {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
            {% endfor %}
        </section>
        {% endif %}
        <form action='/shop/login/' method='post'>
            {% csrf_token %}
            <section class='row'>
                <label for='ownerUsername'>Username</label>
                <input name='ownerUsername' id='ownerUsername' type='text'>
            </section>
            <section class='row'>
                <label for='ownerPassword'>Password</label>
                <input name='ownerPassword' id='ownerPassword' type='password'>
            </section>
            <button>Sign In</button>
        </form>
    </header>
    <footer>
        {% for foot in footer %}
        <p>{{foot}}</p>
        {% endfor %}
        <a href='/admin/'><img src="{% static 'images/Capture.PNG' %}" /></a>
    </footer>
</body>
</html>