.flexcolumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


body {
    background-color: green;
    .flexcolumn();

    header {
        border: 3px solid black;
        padding: 1em;
        .flexcolumn();
        background-image: url('/crochetApp/static/images/honeycombBG.png');
        background-repeat: no-repeat;
        background-position: center;
        min-width: 500px;
        min-height: 200px;
        background-color: #ffca0a67;

        section {
            .flexcolumn();

            h3 {
                color: darkred;
            }
        }

            form {
                .flexcolumn();
    
                label {
                    margin: .5em;
                }
                input {
                    margin: .5em;
                }
                button {
                    margin: .5em;
                    padding: .5em;
                }
            }

        a {
            padding: .5em;
            color: white;
            text-decoration: none;
        }
    }
    .main {
        border: 3px solid black;
        .flexcolumn();

        h1 {
            margin: 1em;
        }

        form {
            .flexcolumn();

            label {
                margin: .5em;
            }
            input {
                margin: .5em;
            }
            button {
                margin: .5em;
                padding: .5em;
            }
        }
        a {
            color: white;
            text-decoration: none;
            border: 3px solid black;
            padding: .2em;
        }
        .addProduct {
            .flexcolumn();

            .productForm {
                display: none;

                form {
                    .flexcolumn();
        
                    label {
                        margin: .5em;
                    }
                    input {
                        margin: .5em;
                    }
                    button {
                        margin: .5em;
                        padding: .5em;
                    }
                
                 }

            }
        }
        .allProducts {
            .flexrow();
            flex-wrap: wrap;

            .products {
                .flexrow();
                flex-wrap: wrap;
    
                .product {
                    .flexrow();
                    margin: .5em;
                    border: 3px groove yellowgreen;
    
                    .left {
                        .flexcolumn();
                        margin: .5em;
    
                        img {
                            max-width: 250px;
                        }
                    }
                    .right {
                        .flexcolumn();
                        margin: .5em;
                    }
                }
            }
        }
        .categories {
            .flexcolumn();
            ul {
                li {
                    margin: 1em;

                    .h {
                        display: none;
                    }
                }
            }
        }
        .addCategory {
            .flexcolumn();

            .categoryForm {
                display: none;

                form {
                    .flexcolumn();
                    background-color: #ffca0a67;
                    border-radius: 20%;
        
                    label {
                        margin: .5em;
                    }
                    input {
                        margin: .5em;
                    }
                    button {
                        margin: .5em;
                        padding: .5em;
                    }
                }
            }
        }
    }
    footer {
        border: 3px solid black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em;

        p {
            color: white;
        }
        img {
            max-width: 25px;
        }
        a {
            padding: .5em;
            color: white;
            text-decoration: none;
        }
    }
}